<link rel="icon" type="image/png" href="{{ '/favicon.ico' | relative_url }}">

<title>Pilze, Natur & Touren – Eduard's Blog | Pilzführungen Hamburg</title>
<meta name="description" content="Pilzführungen & vielfältige Artikel zu Pilzen, Natur und Wissenschaft. Melde dich für Pilztouren im Süden von Hamburg an.">
<link rel="canonical" href="https://hanopt.github.io/">


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FRCDSS808D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FRCDSS808D');
</script>


        